.grid-item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  padding: 0 0.5rem;
  min-width: 0;
  transition: all 0.2s;

  border: 1px solid var(--blue);
  border-radius: 5px;

  .left-pane,
  .right-pane {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .left-pane {
  }

  .right-pane {
    display: flex;
    align-items: center;
    color: var(--green);
  }

  &:hover {
    background-color: var(--blue);
    color: var(--white);

    .right-pane {
      color: var(--white);
    }
  }
}
