:root {
  --navy: #0a2647;
  --blue: #815cd1;
  --orange: #f08a5d;
  --tan: #eeecda;
  --white: #ffffff;
  --gray: #91d8e4;
  --word-gray: #439a97;
  --green: #22bb33;
  --red: #bb2124;
  --off-white: #fafafa;
}
