.main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  background-color: var(--off-white);

  &--wrapper {
    border-left: 1px solid var(--gray);
    border-right: 1px solid var(--gray);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: inherit;
    width: 40rem;
    background-color: var(--white);

    .header,
    .footer {
      padding: 1rem;
    }

    .header {
      border-bottom: 1px solid var(--gray);

      h1 {
        font-size: 2rem;
        margin: 0;
      }

      p {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 0;
        margin-top: 1rem;
      }
    }

    .footer {
      border-top: 1px solid var(--gray);
      .buttons {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        .button-left {
          border: 1px solid var(--red);
          background-color: var(--red);
          color: var(--white);

          &:hover {
            background-color: lighten($color: #bb2124, $amount: 10);
            border-color: lighten($color: #bb2124, $amount: 10);
          }
        }

        .button-right {
          margin-left: 1rem;
          border: 1px solid var(--blue);
          background-color: var(--blue);
          color: var(--white);

          &:hover {
            background-color: lighten($color: #815cd1, $amount: 10);
            border-color: lighten($color: #815cd1, $amount: 10);
          }
        }

        button {
          cursor: pointer;
          font-size: 1rem;
          padding: 0.5rem 1.2rem;
          transition: all 0.2s;
        }
      }
    }
  }
}
