<div class="main">
 <div class="main--wrapper">
  <div class="header">
   <h1>{{pageData.title}}</h1>
   <p>{{pageData.helperText}}</p>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer" *ngIf="pageData.showFooterButtons">
   <div class="buttons">
    <button *ngIf="pageData.buttons?.buttonLeft?.showButton" class="button-left">{{pageData.buttons?.buttonLeft?.buttonText}}</button>
    <button (click)="pageData.buttons?.buttonRight?.action()" *ngIf="pageData.buttons?.buttonRight?.showButton" class="button-right">{{pageData.buttons?.buttonRight?.buttonText}}</button>
   </div>
  </div>
 </div>
</div>